
body {
    margin: 0;
    padding: 0;
    background: #0b0c10;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-x: hidden;
}


h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: left;
    margin: 60px 80px;
    animation: fadeUp 1s ease backwards;
}


.hero-text span {
    background: linear-gradient(90deg,#c59dff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}


.container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    animation: fadeIn 1.5s ease;
}


.card {
    background: rgba(255, 255, 255, 0.08);
    padding: 32px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);

    opacity: 0;
    transform: translateY(25px);
    animation: cardFade 0.9s ease forwards;
}

.card:nth-child(1) { animation-delay: .15s; }
.card:nth-child(2) { animation-delay: .3s; }
.card:nth-child(3) { animation-delay: .45s; }
.card:nth-child(4) { animation-delay: .6s; }
.card:nth-child(5) { animation-delay: .75s; }
.card:nth-child(6) { animation-delay: .9s; }


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 35px rgba(197, 157, 255, 0.55);
    transition: 0.35s ease;
}


.card p {
    font-size: 15px;
    line-height: 1.65em;
    color: #ececec;
}

.name {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.name span {
    font-weight: 900;
}

.role {
    font-size: 14px;
    margin-top: 5px;
    opacity: 0.8;
}


@keyframes fadeUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes cardFade {
    from { opacity: 0; transform: translateY(35px); }
    to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 1100px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    h1 {
        text-align: center;
        font-size: 44px;
        margin: 40px 0;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 25px;
    }
}
