* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: 'Poppins', sans-serif;
background: linear-gradient(180deg, #090014, #0a021c, #10002b);
color: white;
overflow-x: hidden;
}





header {
width: 100%;
padding: 25px 5%;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 20;
backdrop-filter: blur(12px);
}


.logo {
font-size: 1.8rem;
font-weight: 700;
background: linear-gradient(90deg, #ff5cff, #7f5bff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


nav a {
margin-left: 25px;
font-size: 1rem;
color: #ddd;
text-decoration: none;
transition: 0.3s;
}


nav a:hover {
color: #fff;
}





.titulo {
text-align: center;
font-size: 3rem;
margin-top: 60px;
font-weight: bold;
}


.titulo span {
background: linear-gradient(90deg, #c59dff, #9a5cff, #16e4f9);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: brilho 5s infinite linear;
}


@keyframes brilho {
0% { filter: drop-shadow(0 0 0px #c59dff); }
50% { filter: drop-shadow(0 0 6px #c59dff); }
100% { filter: drop-shadow(0 0 0px #c59dff); }
}



.particles {
position: fixed;
inset: 0;
pointer-events: none;
overflow: hidden;
z-index: 0;
}


.particle {
position: absolute;
width: 4px;
height: 4px;
background: #c59dff;
border-radius: 50%;
opacity: 0.8;
animation: float 8s infinite linear;
}


@keyframes float {
from { transform: translateY(100vh); }
to { transform: translateY(-100%); }
}





.cards {
margin-top: 70px;
display: flex;
justify-content: center;
gap: 40px;
flex-wrap: wrap;
padding-bottom: 80px;
position: relative;
z-index: 2;
}


.card {
width: 330px;
background: rgba(255, 255, 255, 0.05);
padding: 35px;
border-radius: 18px;
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(12px);
position: relative;
transition: 0.3s;
overflow: hidden;
}


.card:hover {
transform: translateY(-10px);
box-shadow: 0 0 40px rgba(140, 70, 255, 0.8);
}





.card::before {
content: "";
position: absolute;
width: 180px;
height: 180px;
top: -60px;
right: -60px;
filter: blur(60px);
opacity: 0.6;
}





.luxo::before { background: #c46cff; }
.profissional::before { background: #16e4f9; }
.elite::before { background: #c59dff; }





.icone {
width: 65px;
height: 65px;
margin-bottom: 20px;
}


.card h2 {
font-size: 1.7rem;
margin-bottom: 15px;
color: #e6d8ff;
}


.card ul li {
margin-bottom: 10px;
opacity: 0.9;
}



.btn {
margin-top: 25px;
padding: 12px 20px;
width: 100%;
border: none;
border-radius: 12px;
background: linear-gradient(90deg, #c59dff#c59dff, #c59dff);
color: rgb(0, 0, 0);
font-size: 1rem;
cursor: pointer;
transition: 0.3s;
}


.btn:hover {
transform: scale(1.05);
}





.preco {
margin-top: 20px;
font-size: 1.6rem;
font-weight: bold;
}




footer {
padding: 40px 0;
text-align: center;
margin-top: 40px;
border-top: 1px solid rgba(255, 255, 255, 0.1);
color: #838383;
font-size: 0.9rem;
}
