* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0d0d0d;
    color: #fff;
}


header {
    width: 100%;
    padding: 20px 0;
    background: #c59dff,#5424bb,#000000;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #c59dff,#5424bb,#000000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00d0ff;
}


.menu-mobile {
    display: none;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}


.hero {
    height: 100vh;
    padding-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero img {
    width: 200px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
}

.hero-title span {
    color: #c59dff;
}

.hero-subtitle {
    font-size: 20px;
    opacity: 0.8;
}

.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn-gradient {
    padding: 12px 25px;
    background: linear-gradient(90deg, #c59dff, #5424bb, #000000);
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.btn-gradient:hover {
    opacity: 0.8;
}
.social {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    font-size: 28px;
    cursor: pointer;
}

.social i:hover {
    color: #00d0ff;
    transition: 0.3s;
}


footer {
    background: #0a0a0a;
    padding: 50px 0 20px;
    margin-top: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-section h3 {
    font-size: 22px;
    color: #00d0ff;
    margin-bottom: 10px;
}

.footer-section p {
    max-width: 350px;
    opacity: 0.8;
}

.footer-copy {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.6;
}


@media (max-width: 850px) {

    .nav-links {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .hero-title {
        font-size: 36px;
    }

    .hero img {
        width: 160px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
